# Ignore everything by default
*

# Keep .gitignore itself
!.gitignore

# Allow Git to recurse into all directories so negations can take effect
!**/

# Unignore all Dart files anywhere in the repository
!**/*.dart

!basicdart.dart
!hello.dart