# Ignore everything by default
*

# Keep .gitignore itself
!.gitignore

# Allow directories to be re-scanned so we can unignore files inside them
!*/

!*.dart

# Unignore all Dart files anywhere in the repository
!**/*.dart